section {
    padding-right: 15%;
    gap: 3rem;
    justify-content: space-between;
}

.person-img {
    flex: 1;
    max-width: 19rem;
}

.person-info {
    flex: 2;
    max-width: 38rem;
}

.person-info > p:first-of-type {
    border-bottom: 3px solid var(--primary);
    padding-bottom: 1rem;
}

p {
    line-height: 1.3;
}

.contact {
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-family: 'neue-montreal', sans-serif;
}

.person-subhead {
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#lecturelist .lecturelink {
    font-size: 1.2rem;
    color: #000;
    text-decoration: underline;
}

#lecturelist li {
    display: flex;
    align-items: center;
}

.imgcap.person-cap {
    margin-bottom: 2rem;
    padding-left: 0;
}

#contact .external-link.contactlink {
    font-size: 1rem;
    font-family: 'neue-montreal', sans-serif;
    color: #000;
    text-decoration: underline;
}

#contact span.email {
    width: 0.9rem;
}

.footer_col3 > nav a {
    color: var(--smalltext);
}

